In [1]:
import os
import sys

module_path = os.path.abspath(os.path.join(".."))
sys.path.insert(0, module_path)

from planning.config import (  # noqa: E402
    employee_restrictions,
)
from planning.employee import (  # noqa: E402
    create_employees_with_dates,
    create_transposed_dataframe,
    generate_excel,
    generate_summary,
    generate_transposed_excel_with_styles,
    init_employees_by_shifts,
    load_planning_from_yaml,
    load_employees_from_yaml,
    modify_index_to_datetime,
)

year = 2025
start_date = f"{year}-01-01"

employees_file = os.path.join("..","..","data", "2025", "case_1", "employees.yaml")
planning_file = os.path.join("..","..","data", "2025", "case_1", "data.yaml")

employees = load_employees_from_yaml(employees_file, employee_restrictions)
employees_info, dates = create_employees_with_dates(start_date, 365, employees)
all_employees_by_shift = init_employees_by_shifts(dates, employee_restrictions)

load_planning_from_yaml(employees_info, planning_file)

In [2]:
employees_info

           E1 E2 E3 E4 E5 E6
2025-01-01  D  D  T  T  M  M
2025-01-02  M  M  T  T  D  D
2025-01-03  M  M  T  T  D  D
2025-01-04  M  M  D  D  V  T
2025-01-05  M  M  D  D  V  T
...        .. .. .. .. .. ..
2025-12-27
2025-12-28
2025-12-29
2025-12-30
2025-12-31

[365 rows x 6 columns]

In [3]:
modify_index_to_datetime(all_employees_by_shift)
modify_index_to_datetime(employees_info)

generate_excel(employees_info, f"samples/{year}_employees_0.xlsx")

transposed_employees_info = create_transposed_dataframe(employees_info)
transposed_employees_info = generate_summary(employees, employee_restrictions, transposed_employees_info)

generate_transposed_excel_with_styles(
    transposed_employees_info, employee_restrictions, f"samples/{year}_planning_0.xlsx"
)

In [ ]:
transposed_employees_info